<!DOCTYPE html>
<html>

<head>

<title>myMEET Posts</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

</head>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-darkr">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y1" class="w3-button w3-block w3-black">Y1</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y2" class="w3-button w3-block w3-black">Y2</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y3" class="w3-button w3-block w3-black">Y3</a>
    </div>
    <div class="w3-col s3">
      <a href="/add_post" class="w3-button w3-block w3-black">POST</a>
     </div>

<body>

<center>

<h1>Create Post</h1>
<br><br><br>

<form action="{{url_for('add_post')}}" method="post">
	<input type="text" name="title" placeholder="Title"><br><br><br>
	<textarea placeholder="Write Text Here"></textarea><br><br><br>
	<input type="text" name="url" placeholder="Place Url Here"><br><br><br>
	<input type="checkbox" name="Y1-CS" value= "False">Y1-CS
	<input type="checkbox" name="Y2-CS" value= "False">Y2-CS
	<input type="checkbox" name="Y3-CS" value= "False">Y3-CS<br>
	<input type="checkbox" name="Y1-E" value= "False">Y1-E
	<input type="checkbox" name="Y2-E" value= "False">Y2-E
	<input type="checkbox" name="Y3-E" value= "False">Y3-E<br><br>
	<input type="submit" name="submit" value="Post">
</form>

</center>
</body>
</html>