<!DOCTYPE html>
<html>

<head>

<title>myMEET Posts</title>
  
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-darkb">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-darkb"><span class="w3-text-white" style="font-size:15px">HOME</span></a>

    </div>
    <div class="w3-col s3">
      <a href="/Y1" class="w3-button w3-block w3-darkb"><span class="w3-text-white" style="font-size:15px">Y1</span></a>
    </div>
    <div class="w3-col s3">
      <a href="/Y2" class="w3-button w3-block w3-darkb"><span class="w3-text-white" style="font-size:15px">Y2</span></a>
    </div>
    <div class="w3-col s3">
      <a href="/Y3" class="w3-button w3-block w3-darkb"><span class="w3-text-white" style="font-size:15px">Y3</span></a>
    </div>
    <div class="w3-col s3">
      <a href="/add_post" class="w3-button w3-block w3-darkb"><span class="w3-text-white" style="font-size:15px">POST</span></a>
    </div>
  </div>
</div>
<body>

<center>

<br><br><br><br><br>
<span class="w3-text-white" style="font-size:65px">Post to myMEET</span>
<br><br>

<form action="{{url_for('add_post')}}" method="post">
	<input type="text" name="title" placeholder="Title"><br><br><br>
	<textarea name="text" placeholder="Write Text Here"></textarea><br><br><br>
	<input type="text" name="url" placeholder="Place Url Here"><br><br><br>
	<input type="checkbox" name="Y1-CS" value= "False"><span class="w3-text-white" style="font-size:12px">Y1-CS</span>
	<input type="checkbox" name="Y2-CS" value= "False"><span class="w3-text-white" style="font-size:12px">Y2-CS</span>  
	<input type="checkbox" name="Y3-CS" value= "False"><span class="w3-text-white" style="font-size:12px">Y3-CS</span><br>
	<input type="checkbox" name="Y1-E" value= "False"><span class="w3-text-white" style="font-size:12px">Y1-E</span>  
	<input type="checkbox" name="Y2-E" value= "False"><span class="w3-text-white" style="font-size:12px">Y2-E</span>  
	<input type="checkbox" name="Y3-E" value= "False"><span class="w3-text-white" style="font-size:12px">Y3-E</span><br><br>
	<input type="submit" name="submit" value="Post">
</form>

</center>
</body>
</html>