<!DOCTYPE html>
<html>
<head>
	<title>"myMEET/home"</title>

</head>
<body>
<h1>myMEET</h1>
	<table>
		<tr>
			<th>
				<a href="/year/1">Y1</a>
				<a href="/year/2">Y2</a>
				<a href="/year/3">Y3</a>
				<a href="">Staff</a>

			</th>
		</tr>
	</table>
	<p>Welcome to myMEET! This is a website which is used as a platform for MEET staff and instructors to post and share the materials learned in class with the Meet students. The staff is able to post links to slideshows, documents, and videos discussed in class. myMeet is useful for any student who wants to review the materials learned in class and students who missed classes during the summer or during the yearlong.</p>

	<p>myMeet was created and coded by Y2 students [class of 2018] as part of the CS summer project, in purpose to share knowlage and make learning material more accsessable and easy to students. </p>
</body>
</html>

