<!DOCTYPE html>
<html>

  <head>
      <title>myMEET/Login page</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

  </head>

  <body>

  <div id = login>
  <center>

  <br><br><br>

    <span class="w3-text-white" style="font-size:90px">my</span><span class="w3-text-darkr" style="font-size:90px">M</span><span class="w3-text-white" style="font-size:90px">EET</span>

    <form action='/' method='POST'>
      <input type='text' name='email' id='email' placeholder='email' required></input> <br><br>
      <input type='password' name='pw' id='pw' placeholder='password' required></input> <br><br>
      <input type='submit' name='submit' value="Login"></input><br><br>
    </form> 

    <span class="w3-text-white" style="font-size:20px">OR</span><br><br>

    <a href="{{url_for('sign_up')}}"><span class="w3-text-white" style="font-size:20px">Sign Up</span></a>
  </center>
  </div>
  
  </body>

</html>

