<!DOCTYPE html>
<html>

<head>

<title>myMEET Posts</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"> -->

</head>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-darkb">
    <div class="w3-col s3">
      <a href="/home" class="w3-button w3-block w3-darkb w3-text-white">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y1" class="w3-button w3-block w3-darkb w3-text-white">Y1</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y2" class="w3-button w3-block w3-darkb w3-text-white">Y2</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y3" class="w3-button w3-block w3-darkb w3-text-white">Y3</a>
    </div>
    <div class="w3-col s3">
      <a href="/add_post" class="w3-button w3-block w3-darkb w3-text-white">POST</a>
      </div>
    <div class="w3-col s3">
      <a href="/logout" class="w3-button w3-block w3-darkb w3-text-white">LOGOUT</a>
    </div>
  </div>
</div>
<body>

<center>

<br><br><br><br><br>
<b><div id = "archer_bold">
<span class="w3-text-white" style="font-size:65px">Post to <span class="w3-text-white" style="font-size:90px">my</span><span class="w3-text-darkr" style="font-size:90px">M</span><span class="w3-text-white" style="font-size:90px">EET</span></span></b>
<br><br>

<span class="w3-text-white" style="font-size:50px">Restricted <br> Staff ONLY</span>

<br><br>

  <a href="/home" class="w3-button w3-darkb w3-text-white">Go Back Home</a>

</center>
</body>
</html>