<!DOCTYPE html>
<html>
	<head>
		<title>myMEET/Sign Up</title>
	</head>

	<body>

		<center>

		<h1>myMEET<br>Sign Up Page</h1>

		<form>

			<input type="text" name="name" placeholder="Name"><br>
			<input type="text" name="email" id = "pw" placeholder="Email"><br>
			<input type="password" name="pw" id = "pw" placeholder="Password"><br>
			<input type="submit" name="submit" value="Sign Up">

			<input type="radio" name="member" value="student">Student
			<input type="radio" name="member" value="staff">Staff

		</form>

		<p>OR</p>

		<a href="">Login</a>

        </center>
	</body>

</html>