<!DOCTYPE html>
<html>
<head>
		<title>myMEET/Sign Up</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

	<body>

		<center>

		<h1>myMEET<br>
		Sign Up Page</h1>

<form action="/" method="POST">

			<input type="text" name="name" placeholder="Name"><br>
			<input type="text" name="email" id = "pw" placeholder="Email"><br>
			<input type="password" name="pw" id = "pw" placeholder="Password"><br>
			<input type="radio" name="member" value="student">Student
			<input type="radio" name="member" value="staff">Staff
			<input type="submit" name="submit" value="Sign Up">


</form>

		<p>OR</p>

		<a href="login.html">BACK</a>

        </center>
	</body>

</html>