<!DOCTYPE html>
<html>

<head>
<title>myMeet Y3</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"> -->

</head>


<body>

<style type="text/css">
  
  body {background-color: #66c4ac}
</style>


<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-darkb">
    <div class="w3-col s3">
      <a href="/home" class="w3-button w3-block w3-darkb w3-text-white">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y1" class="w3-button w3-block w3-darkb w3-text-white">Y1</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y2" class="w3-button w3-block w3-darkb w3-text-white">Y2</a>
    </div>
    <div class="w3-col s3">
      <a href="/Y3" class="w3-button w3-block w3-darkb w3-text-white">Y3</a>
    </div>
    <div class="w3-col s3">
      <a href="/add_post" class="w3-button w3-block w3-darkb w3-text-white">POST</a>
      </div>
    <div class="w3-col s3">
      <a href="/logout" class="w3-button w3-block w3-darkb w3-text-white">LOGOUT</a>
    </div>
  </div>
</div>


<!-- Classes Container -->
<br>
<br>
<div class="w3-container" id="menu">
  <div class="w3-content" style="max-width:700px">
 
    <h4 class="w3-center w3-padding-48"><span class="w3-tag w3-wide" style="font-size: 30px">Y3 CLASSES</span></h4>
  
    <div class="w3-row w3-center w3-card-2 w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, 'Entrepreneurship');" id="myLink">
        <div class="w3-col s6 tablink"><span class='w3-text-white' style="font-size: 21px">Entrep.</span></div>
      </a>
      <a href="javascript:void(0)" onclick="openMenu(event, 'CS');">
        <div class="w3-col s6 tablink"><span class='w3-text-white' style="font-size: 21px">CS</span></div>
      </a>
    </div>

    <div id="Entrepreneurship" class="w3-container menu w3-padding-48 w3-card-2">

      {% for post in entrep_posts %}
      <h4 class="w3-text-white">{{post.title}}<h4>
      <p class="w3-text-white">{{post.text}}</p>
      <a href="{{post.url}}">{{post.url}}</a><br><br>
      {% endfor %}

    </div>

    <div id="CS" class="w3-container menu w3-padding-48 w3-card-2">

      {% for post in entrep_posts %}
      <h4 class="w3-text-white">{{post.title}}<h4>
      <p class="w3-text-white">{{post.text}}</p>
      <a href="{{post.url}}">{{post.url}}</a><br><br>
      {% endfor %}

<script>


// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-darkr", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-darkr";
}
document.getElementById("myLink").click();
</script>
</div>
</body>
</html>

